.logo {
    // Правозащитник
    color: #4f8ff0;
    font-size: 28px;
    font-family: Nunito Sans;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 120%;
    word-wrap: break-word;
    width:312px;
}
.logo_highlight {
    // Юридическая компания
color: white;
font-size: 20px;
font-family: Nunito Sans;
font-weight: 900;
text-transform: lowercase;
line-height: 120%;
word-wrap: break-word
}
