.about {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0px;
    background-color: #fff;

    &__container {
        display: flex;
        gap: 64px;
    }

    &__title {
        text-align: left;
    }

    &__description {
        font-size: 16px;
        max-width: 720px;
        margin-bottom: 35px;
    }

    &__picture {
        max-width: 35vw;
        max-height: 24vw;
        box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
        &-img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &__buttons {
        display: flex;
        gap: 24px;
    }
}
